*
    padding: 0
    margin: 0
    box-sizing: border-box
    border-collapse: collapse

body
  font-family: Roboto, Arial, sans-serif

.wrapper
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 744px 842px 504px 842px 524px 464px 185px

.container
    width: 100%
    max-width: 1280px
    margin: 0 auto


.header 
    background: #000000 url(assets/img/bg-image.jpg) no-repeat 0 -11px
    background-size: cover
    color: #ffffff

.navigation
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    // grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr 
    justify-items: center
    align-items: center
    padding: 25px 0
    &__item
        list-style-type: none
    &__link
        display: block
        text-decoration: none
        font-size: 14px
        color: #ffffff
        &:hover
            color: #00AFDB
        img
            transition: .3s
            &:hover
                animation: rotate 2s linear infinite


@keyframes rotate 
  from
    transform: rotate(-360deg)


.header__content 
    min-width: 730px
    text-align: center
    margin-top: 130px

.header__title
    text-transform: uppercase
    font-size: 64px
    line-height: 77px
    font-weight: 700
    letter-spacing: 0.05rem

.header__descr
    margin: 0 auto
    font-size: 18px
    line-height: 25.2px
    font-weight: 400
    margin-top: 20px
    max-width: 504px
    letter-spacing: -0.004rem

.header__button
    margin-top: 30px
    padding: 15px 47px
    text-transform: uppercase
    background-color: #00AFDB
    outline: none
    color: #ffffff
    border: none
    font-size: 14px
    line-height: 16.41px
    letter-spacing: -0.04rem
    &:hover
        background-color: #009CC2

.header__social
    margin-top: 183px
    text-align: center
    img 
        margin: 0 13px